header {
    border: green solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    border: rgb(230, 116, 230) solid 5px;
    display: flex;
    height: 85vh;
}

.sidebar{
    width: 20%;
    border: green solid 5px;
}

img {
    height: 170px;
    margin-right: 10%;
    margin-left: 10%;
}

img:hover{
    cursor: pointer;
}

.all_pics_div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border: blue solid 5px;
    box-sizing: border-box;
}

.single_pic_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: red solid 2px;
    box-sizing: border-box;
} 