.main > div {
    border: blue solid 1px;
}

.main{
    border: green solid 1px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

img {
    height: 170px;
    margin-right: 10%;
    margin-left: 10%;
}

img:hover{
    cursor: pointer;
}

.all_pics_div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}

.single_pic_div{
    display: flex;
    justify-content: center;
    width: 20%;
    border: red solid 1px;
} 